<ul *ngFor='let quote of quotes; let i = index'>



    <button (click)='toggleQuote(i)'>  <h4 [style.color]= "quote.highest ? 'blue' : 'black'">{{quote.name}}</h4> </button>
    <br>
    <div *ngIf='quote.showQuote'>
        <app-quote-details [quote]='quote'></app-quote-details>
    </div>

    <p appHighlighter>{{quote.totalUpvotes}}</p>
    <p>{{quote.totalDownvotes}}</p>
    <button (click)='deleteQuote(i)'> Delete Quote </button>
    <button (click)='upvote(i)'> Upvote </button>
    <button (click)='downvote(i)'> Downvote </button>




</ul>

<app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>