.card {
    width: 100%;
}

.votesection {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.votes {
    display: flex;
    padding-right: 1%;
}

.voting {
    display: flex;
}

.votesection button {
    height: 5vh;
    border-radius: 24px;
}

.thequote {
    border-radius: 11px;
    margin-right: 5%;
    margin-top: 2%;
}