<div class="quotebody">

    <h1>The Quotes App</h1>
    <p class="notice">Click on the quote to view details</p>
    <div class="row">
        <div class="container col-md-6">
            <ul class="card" *ngFor='let quote of quotes; let i = index'>



                <button class="thequote" (click)='toggleQuote(i)'>  <h5 [style.color]= "quote.highest ? 'blue' : 'black'">{{quote.name}}</h5> </button>
                <br>
                <div *ngIf='quote.showQuote'>
                    <app-quote-details [quote]='quote'></app-quote-details>
                </div>


                <div class="voting row">
                    <div class="votesection col-md-6">
                        <button class="deleter" (click)='deleteQuote(i)'> Delete Quote </button>
                        <button (click)='upvote(i)'> Upvote </button>
                        <button (click)='downvote(i)'> Downvote </button>
                    </div>
                    <div class="votes col-md-6">
                        <p>Upvotes: {{quote.totalUpvotes}} .</p>
                        <br>
                        <p>Downvotes: {{quote.totalDownvotes}} .</p>
                    </div>
                </div>

            </ul>
        </div>

        <div class="col-md-6">
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>

    </div>
</div>