<form (ngSubmit)='submitQuote()' #quoteForm='ngForm' action="submit">
    <div class="formgroup">
        <label for="quote">Enter Your Quote:<input type="text" id="quote" [(ngModel)]  = "newQuote.name" name="name" #name = 'ngModel' required></label>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">

            <p> Name field is required </p>
        </div>

    </div>

    <div class="formgroup">
        <label for="quote">Who is the authur<input type="text" [(ngModel)] = "newQuote.details" name="details" #details = 'ngModel' required></label>
        <div [hidden]="details.valid || details.pristine" class="alert alert-danger">
            <p>Quote details are required</p>
        </div>

    </div>

    <div class="formgroup">
        <label for="quote">Who is the authur<input type="text" [(ngModel)] = "newQuote.poster" name="poster" #poster = 'ngModel' required></label>
        <div [hidden]="poster.valid || poster.pristine" class="alert alert-danger">
            <p>Quote poster is required</p>
        </div>

    </div>

    Display {{newQuote.name}} Display {{newQuote.details}}

    <div>
        <button type="submit">Add Quote</button>
    </div>
</form>