<form (ngSubmit)='submitQuote()' #quoteForm='ngForm' action="submit" class="card">

    <h5>Add A quote</h5>
    <div class="form-group">
        <div class="input">
            <label for="quote">Enter Your Quote:</label><input type="text" id="quote" [(ngModel)]="newQuote.name" name="name" #name='ngModel' required>
        </div>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">

            <p> Quote field is required </p>
        </div>

    </div>

    <div class="form-group">
        <div class="input">
            <label for="quote">Enter the authur's name:</label> <input type="text" [(ngModel)]="newQuote.details" name="details" #details='ngModel' required>
        </div>
        <div [hidden]="details.valid || details.pristine" class="alert alert-danger">
            <p>Original authur required</p>
        </div>

    </div>

    <div class="form-group">
        <div class="input">
            <label for="quote">Enter Your Name: </label><input type="text" [(ngModel)]="newQuote.poster" name="poster" #poster='ngModel' required>
        </div>
        <div [hidden]="poster.valid || poster.pristine" class="alert alert-danger">
            <p>Your name is required</p>
        </div>

    </div>


    <div>
        <button type="submit">Add Quote</button>
    </div>
</form>